body {
  font-family: 'Poppins', sans-serif; /* Google Font for a modern aesthetic */
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Subtle light gray background */
  color: #333; /* Dark text color for contrast */
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #343a40; /* Dark gray */
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
